@import 'styles/variables';

.App {
  opacity: 0;
  transition: opacity ease-in-out 1000ms;
  display: flex;
  height: 100%;
  background-color: #fcfcfcfc;

  &.shouldRender {
    opacity: 1;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 260px;
    background-color: #eee;
    color: #444;
    border-right: 1px solid #ccc;
    padding: 15px 25px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);

    .Logo {
      margin: 10px auto 15px;
      width: 125px;
    }

    > :not(.Logo) {
      flex-grow: 1;
    }
  }

  .mapContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    .Map {
      .PaymentMarker {
        .Line {
          stroke: #577590;
        }

        .Pin {
          circle {
            fill: #577590;
          }
        }
      }

      .AccountMarker {
        .Pin {
          circle {
            fill: #577590;
          }
        }
      }
    }
  }
}
